body {
  font-weight: 400;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.toast-default {
  padding-left: 20px;
  min-height: 40px;
}

.toast-black {
  background-color: black;
  padding-left: 20px;
  min-height: 40px;
}
